In [1]:
import pandas as pd
import numpy as np
data_train = pd.read_excel("Data_Train.xlsx")
data_test = pd.read_excel('Data_Test.xlsx')

In [2]:
data_train.drop('New_Price',axis = 1,inplace = True)
data_test.drop('New_Price' , axis=1 , inplace = True)

In [3]:
y_train_data = data_train.iloc[:,-1].values
data_train = data_train.iloc[:,:-1]

In [4]:
data_train[data_train.isnull().any(axis=1)]
data_test[data_test.isna().any(axis=1)]

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats
23,Skoda Laura 1.8 TSI Ambition,Bangalore,2009,72000,Petrol,Manual,Second,17.5 kmpl,NaN,NaN,NaN
522,Toyota Etios Liva Diesel TRD Sportivo,Bangalore,2012,56600,Diesel,Manual,First,23.59 kmpl,NaN,NaN,NaN
525,Hyundai i20 new Sportz AT 1.4,Bangalore,2012,58000,Petrol,Automatic,Second,15.0 kmpl,NaN,NaN,NaN
614,Mahindra TUV 300 P4,Kolkata,2016,27000,Diesel,Manual,First,0.0 kmpl,NaN,NaN,NaN
624,BMW 5 Series 520d Sedan,Bangalore,2009,150000,Diesel,Automatic,Second,18.48 kmpl,NaN,NaN,NaN
632,Maruti Swift 1.3 VXi,Kolkata,2015,36009,Petrol,Manual,First,16.1 kmpl,NaN,NaN,NaN
658,Fiat Punto 1.4 Emotion,Jaipur,2010,65000,Petrol,Manual,Third,14.6 kmpl,NaN,NaN,NaN
666,Maruti Swift 1.3 VXi,Pune,2010,115000,Petrol,Manual,Second,16.1 kmpl,NaN,NaN,NaN
861,BMW 5 Series 520d Sedan,Chennai,2009,95000,Diesel,Automatic,Second,18.48 kmpl,NaN,NaN,NaN
883,Toyota Etios Liva V,Kochi,2012,59311,Petrol,Manual,First,18.3 kmpl,NaN,NaN,NaN
938,Honda Jazz 2020 Petrol,Kochi,2019,11574,Petrol,Manual,First,0.0 kmpl,1199 CC,88.7 bhp,NaN

In [5]:
def change(series):
    shifted = []
    for i,item in enumerate(series):
        if (type(item)==float) or item.split()[0]=='null':
            shifted.append(np.nan)
        else:
            shifted.append(float(item.split()[0]))
    return shifted

In [6]:
str_col = ['Engine','Mileage','Power']
for item in str_col:
    data_train[item] = pd.Series(change(data_train[item]))
    data_test[item] = pd.Series(change(data_test[item]))

In [7]:
def brand_model_split(series):
    brand = []
    model = []
    for i,item in enumerate(series.Name):
        brand.append(item.split()[0])
        model.append(item[len(item.split()[0]):])
    series.insert(loc = 0,value = pd.Series(brand), column = 'Brand')
    series.insert(loc = 1,value = pd.Series(model), column = 'Model')
    series.drop('Name',axis=1,inplace=True)

In [8]:
brand_model_split(data_train)
brand_model_split(data_test)

In [9]:
from sklearn.preprocessing import LabelEncoder
enc_ind = [0,1,2,5,6,7]
le_enc = []
for j in enc_ind:
    le = LabelEncoder()
    le_enc.append(le)
    le.fit(pd.concat([data_train.iloc[:,j],data_test.iloc[:,j]],ignore_index = True))
    data_train.iloc[:,j] = le.transform(data_train.iloc[:,j])
    data_test.iloc[:,j] = le.transform(data_test.iloc[:,j])

In [10]:
from sklearn.impute import SimpleImputer
imp_seats = SimpleImputer(missing_values = np.nan , strategy = 'constant' , fill_value = 4)
imp_power_engine_mileage = SimpleImputer(missing_values = np.nan , strategy = 'mean')
data_train['Seats'] = imp_seats.fit_transform(data_train['Seats'].values.reshape(-1,1))
data_train.iloc[:,8:11] = imp_power_engine_mileage.fit_transform(data_train.iloc[:,8:11])
data_test['Seats'] = imp_seats.transform(data_test['Seats'].values.reshape(-1,1))
data_test.iloc[:,8:11] = imp_power_engine_mileage.transform(data_test.iloc[:,8:11])

from sklearn.preprocessing import OneHotEncoder
enco_ind = ['Brand','Model','Location','Fuel_Type','Transmission','Owner_Type']
ohe_enc = []
for j in enco_ind:
    oe = OneHotEncoder()
    ohe_enc.append(oe)
    oe.fit([pd.concat([data_train[j],data_test[j]],ignore_index = True).values])
    data_train[j] = oe.transform([data_train[j]]).toarray()
    data_test[j] = oe.transform(data_test[j]).toarray()
    data_train = data_train[:,1:]
    data_test = data_test[:,1:]

In [11]:
data_train

,Brand,Model,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats
0,19,1797,9,2010,72000,0,1,0,26.60,998.0,58.16,5.0
1,11,498,10,2015,41000,1,1,0,19.67,1582.0,126.20,5.0
2,10,993,2,2011,46000,4,1,0,18.20,1199.0,88.70,5.0
3,19,676,2,2012,87000,1,1,0,20.77,1248.0,88.76,7.0
4,1,105,3,2013,40670,1,0,2,15.20,1968.0,140.80,5.0
5,11,591,5,2012,75000,3,1,0,21.10,814.0,55.20,5.0
6,23,1101,6,2013,86999,1,1,0,23.08,1461.0,63.10,5.0
7,30,973,9,2016,36000,1,0,0,11.36,2755.0,171.50,8.0
8,31,1699,10,2013,64430,1,1,0,20.54,1598.0,103.60,5.0
9,29,908,2,2012,65932,1,1,2,22.30,1248.0,74.00,5.0
10,19,375,7,2018,25692,4,1,0,21.56,1462.0,103.25,5.0
11,10,388,8,2012,60000,4,0,0,16.80,1497.0,116.30,5.0
12,19,1613,6,2015,64424,1,1,0,25.20,1248.0,74.00,5.0
13,17,1376,4,2014,72000,1,0,0,12.70,2179.0,187.70,5.0
14,17,1373,10,2012,85000,1,0,2,0.00,2179.0,115.00,5.0
15,22,1224,4,2014,110000,1,1,0,13.50,2477.0,175.56,7.0
16,10,181,7,2016,58950,1,1,0,25.80,1498.0,98.60,5.0
17,19,1577,6,2017,25000,1,1,0,28.40,1248.0,74.00,5.0
18,26,532,7,2014,77469,1,1,0,20.45,1461.0,83.80,5.0
19,20,1152,1,2014,78500,1,0,0,14.84,2143.0,167.62,5.0
20,2,6,7,2014,32982,1,0,0,22.69,1995.0,190.00,5.0
21,19,1397,1,2015,55392,1,1,2,23.65,1248.0,88.50,5.0
22,1,115,9,2015,55985,4,0,0,13.53,1984.0,177.01,5.0
23,11,1975,8,2010,45807,4,1,0,18.50,1197.0,80.00,5.0
24,31,1708,8,2010,33000,4,0,0,14.40,1598.0,103.60,5.0
25,10,392,9,2012,51920,4,1,0,16.80,1497.0,116.30,5.0
26,23,1101,5,2012,54000,1,1,0,23.08,1461.0,63.10,5.0
27,19,155,5,2013,54000,4,1,2,20.92,998.0,67.10,5.0
28,10,1782,7,2018,37430,4,1,0,17.50,1199.0,88.70,5.0
29,30,954,9,2007,262000,1,1,1,12.80,2494.0,102.00,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...
5989,1,101,3,2013,58629,1,0,2,18.25,1968.0,187.74,5.0
5990,29,1168,10,2008,86000,1,1,3,13.93,2179.0,138.00,7.0
5991,19,1612,5,2012,68238,1,1,0,22.90,1248.0,74.00,5.0
5992,27,1562,9,2011,42036,4,0,0,13.70,1798.0,157.75,5.0
5993,11,637,9,2014,55619,4,1,0,16.30,1797.0,147.50,5.0
5994,10,379,10,2009,60000,4,1,3,17.00,1497.0,118.00,5.0
5995,26,528,10,2015,30000,1,1,0,19.87,1461.0,83.80,5.0
5996,14,1857,7,2016,31150,1,0,0,16.36,2179.0,187.70,5.0
5997,19,1787,6,2010,70000,3,1,0,26.20,998.0,58.20,5.0
5998,31,1254,10,2010,70290,4,1,2,17.24,1198.0,73.90,5.0
5999,29,276,2,2016,10000,4,1,0,17.57,1193.0,88.70,5.0
6000,11,2029,1,2014,68010,4,1,2,18.50,1197.0,82.85,5.0
6001,1,109,7,2013,91903,1,0,0,17.68,1968.0,174.33,5.0
6002,31,1695,9,2011,38000,4,1,0,16.09,1598.0,103.50,5.0
6003,19,337,1,2015,67600,4,1,0,23.10,998.0,67.04,5.0
6004,11,836,3,2007,66800,4,1,0,15.30,1341.0,83.00,5.0
6005,19,1772,10,2016,37208,1,1,0,24.30,1248.0,88.50,5.0
6006,20,1078,9,2009,102002,1,0,0,8.70,2987.0,224.34,5.0
6007,19,1595,4,2011,68000,1,1,0,19.30,1248.0,73.90,5.0
6008,25,1229,5,2013,40000,1,0,2,17.85,2967.0,300.00,4.0
6009,30,315,9,2015,33500,4,0,0,19.16,2494.0,158.20,5.0
6010,10,281,4,2013,33746,4,1,0,18.50,1198.0,86.80,5.0
6011,27,1560,5,2009,53000,4,0,0,0.00,3597.0,262.60,5.0
6012,30,954,3,2011,45004,1,1,0,12.80,2494.0,102.00,7.0
6013,10,193,3,2015,70602,1,1,0,25.80,1498.0,98.60,5.0
6014,19,1612,4,2014,27365,1,1,0,28.40,1248.0,74.00,5.0
6015,11,1882,6,2015,100000,1,1,0,24.40,1120.0,71.00,5.0
6016,18,1909,6,2012,55000,1,1,2,14.00,2498.0,112.00,8.0
6017,19,1804,8,2013,46000,4,1,0,18.90,998.0,67.10,5.0
6018,4,254,5,2011,47000,1,1,0,25.44,936.0,57.60,5.0

In [12]:
from sklearn.preprocessing import StandardScaler
data_train = data_train[['Brand','Model','Location','Year','Fuel_Type','Transmission','Owner_Type','Kilometers_Driven','Mileage','Engine','Power','Seats']]
data_test = data_test[['Brand','Model','Location','Year','Fuel_Type','Transmission','Owner_Type','Kilometers_Driven','Mileage','Engine','Power','Seats']]
sc = StandardScaler()
sc.fit(data_train.iloc[:,7:11])
data_train.iloc[:,7:11] = sc.transform(data_train.iloc[:,7:11])
data_test.iloc[:,7:11] = sc.transform(data_test.iloc[:,7:11])

In [13]:
data_train

,Brand,Model,Location,Year,Fuel_Type,Transmission,Owner_Type,Kilometers_Driven,Mileage,Engine,Power,Seats
0,19,1797,9,2010,0,1,0,0.145315,1.847799,-1.039653,-1.035066,5.0
1,11,498,10,2015,1,1,0,-0.194369,0.335077,-0.065515,0.243242,5.0
2,10,993,2,2011,4,1,0,-0.139581,0.014197,-0.704376,-0.461293,5.0
3,19,676,2,2012,1,1,0,0.309678,0.575192,-0.622642,-0.460166,7.0
4,1,105,3,2013,1,0,2,-0.197985,-0.640661,0.578351,0.517541,5.0
5,11,591,5,2012,3,1,0,0.178188,0.647226,-1.346574,-1.090677,5.0
6,23,1101,6,2013,1,1,0,0.309667,1.079433,-0.267348,-0.942255,5.0
7,30,973,9,2016,1,0,0,-0.249157,-1.478879,1.891102,1.094320,8.0
8,31,1699,10,2013,1,1,0,0.062366,0.524986,-0.038826,-0.181358,5.0
9,29,908,2,2012,1,1,2,0.078824,0.909169,-0.622642,-0.737471,5.0
10,19,375,7,2018,4,1,0,-0.362107,0.747638,-0.265680,-0.187933,5.0
11,10,388,8,2012,4,0,0,0.013824,-0.291403,-0.207299,0.057245,5.0
12,19,1613,6,2015,1,1,0,0.062300,1.542199,-0.622642,-0.737471,5.0
13,17,1376,4,2014,1,0,0,0.145315,-1.186376,0.930308,1.398679,5.0
14,17,1373,10,2012,1,0,2,0.287763,-3.958607,0.930308,0.032821,5.0
15,22,1224,4,2014,1,1,0,0.561702,-1.011747,1.427386,1.170598,7.0
16,10,181,7,2016,1,1,0,0.002319,1.673170,-0.205631,-0.275296,5.0
17,19,1577,6,2017,1,1,0,-0.369690,2.240714,-0.622642,-0.737471,5.0
18,26,532,7,2014,1,1,0,0.205242,0.505340,-0.267348,-0.553352,5.0
19,20,1152,1,2014,1,0,0,0.216539,-0.719244,0.870259,1.021424,5.0
20,2,6,7,2014,1,0,0,-0.282227,0.994301,0.623388,1.441891,5.0
21,19,1397,1,2015,1,1,2,-0.036668,1.203856,-0.622642,-0.465050,5.0
22,1,115,9,2015,4,0,0,-0.030170,-1.005198,0.605039,1.197840,5.0
23,11,1975,8,2010,4,1,0,-0.141696,0.079683,-0.707712,-0.624745,5.0
24,31,1708,8,2010,4,0,0,-0.282030,-0.815289,-0.038826,-0.181358,5.0
25,10,392,9,2012,4,1,0,-0.074713,-0.291403,-0.207299,0.057245,5.0
26,23,1101,5,2012,1,1,0,-0.051921,1.079433,-0.267348,-0.942255,5.0
27,19,155,5,2013,4,1,2,-0.051921,0.607935,-1.039653,-0.867105,5.0
28,10,1782,7,2018,4,1,0,-0.233488,-0.138603,-0.704376,-0.461293,5.0
29,30,954,9,2007,1,1,1,2.227250,-1.164547,1.455743,-0.211418,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...
5989,1,101,3,2013,1,0,2,-0.001199,0.025111,0.578351,1.399431,5.0
5990,29,1168,10,2008,1,1,3,0.298721,-0.917884,0.930308,0.464936,7.0
5991,19,1612,5,2012,1,1,0,0.104093,1.040141,-0.622642,-0.737471,5.0
5992,27,1562,9,2011,4,0,0,-0.183017,-0.968090,0.294783,0.835991,5.0
5993,11,637,9,2014,4,1,0,-0.034181,-0.400546,0.293115,0.643418,5.0
5994,10,379,10,2009,4,1,3,0.013824,-0.247746,-0.207299,0.089184,5.0
5995,26,528,10,2015,1,1,0,-0.314902,0.378735,-0.267348,-0.553352,5.0
5996,14,1857,7,2016,1,0,0,-0.302301,-0.387449,0.930308,1.398679,5.0
5997,19,1787,6,2010,3,1,0,0.123400,1.760485,-1.039653,-1.034315,5.0
5998,31,1254,10,2010,4,1,2,0.126577,-0.195357,-0.706044,-0.739349,5.0
5999,29,276,2,2016,4,1,0,-0.534053,-0.123323,-0.714385,-0.461293,5.0
6000,11,2029,1,2014,4,1,2,0.101594,0.079683,-0.707712,-0.571200,5.0
6001,1,109,7,2013,1,0,0,0.363403,-0.099312,0.578351,1.147489,5.0
6002,31,1695,9,2011,4,1,0,-0.227242,-0.446386,-0.038826,-0.183236,5.0
6003,19,337,1,2015,4,1,0,0.097102,1.083798,-1.039653,-0.868232,5.0
6004,11,836,3,2007,4,1,0,0.088336,-0.618832,-0.467514,-0.568382,5.0
6005,19,1772,10,2016,1,1,0,-0.235920,1.345741,-0.622642,-0.465050,5.0
6006,20,1078,9,2009,1,0,0,0.474063,-2.059519,2.278089,2.087057,5.0
6007,19,1595,4,2011,1,1,0,0.101485,0.254312,-0.622642,-0.739349,5.0
6008,25,1229,5,2013,1,0,2,-0.205327,-0.062203,2.244728,3.508527,4.0
6009,30,315,9,2015,4,0,0,-0.276551,0.223752,1.455743,0.844445,5.0
6010,10,281,4,2013,4,1,0,-0.273855,0.079683,-0.706044,-0.496989,5.0
6011,27,1560,5,2009,4,0,0,-0.062879,-3.958607,3.295597,2.805871,5.0
6012,30,954,3,2011,1,1,0,-0.150495,-1.164547,1.455743,-0.211418,7.0
6013,10,193,3,2015,1,1,0,0.129996,1.673170,-0.205631,-0.275296,5.0
6014,19,1612,4,2014,1,1,0,-0.343775,2.240714,-0.622642,-0.737471,5.0
6015,11,1882,6,2015,1,1,0,0.452126,1.367570,-0.836152,-0.793833,5.0
6016,18,1909,6,2012,1,1,2,-0.040963,-0.902604,1.462415,-0.023542,8.0
6017,19,1804,8,2013,4,1,0,-0.139581,0.166997,-1.039653,-0.867105,5.0
6018,4,254,5,2011,1,1,0,-0.128624,1.594587,-1.143072,-1.045587,5.0

In [14]:
from sklearn.metrics import auc, accuracy_score, confusion_matrix, mean_squared_error
from sklearn.model_selection import cross_val_score, GridSearchCV, KFold, RandomizedSearchCV

import xgboost as xgb

In [15]:
from sklearn.model_selection import train_test_split
X_train , X_val , y_train  , y_val = train_test_split(data_train,y_train_data,test_size=0.2)

In [16]:
xgb_model = xgb.XGBRegressor(objective="reg:linear", random_state=0)
xgb_model.fit(X_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=True, subsample=1)

In [17]:
y_pred = xgb_model.predict(X_val)
mse=mean_squared_error(y_val, y_pred)
print(np.sqrt(mse))

3.646233477376638

In [18]:
y_pred2 = xgb_model.predict(data_test)
y_pred2 = pd.DataFrame(y_pred2 , columns = ['Price'])
#y_pred2.to_excel("output3.xlsx",index = False)

In [19]:
from sklearn.metrics import mean_squared_log_error
print(np.sqrt(mean_squared_log_error(y_val,y_pred)))

0.228719466167781

In [20]:
y_pred2.Price

0        3.993382
1        2.707158
2       18.021914
3        5.523703
4        4.031394
5       12.370261
6       22.573582
7        2.273616
8        3.450969
9       11.496263
10      17.831856
11       5.035713
12       3.407794
13       2.712869
14       4.874269
15      19.495893
16      27.316347
17       2.312258
18       8.273572
19       4.206578
20       5.254086
21       2.526246
22       3.978309
23       2.256117
24       5.012950
25       1.046540
26       0.776068
27       5.998921
28       8.548421
29       2.514218
          ...
1204     6.314748
1205     4.827391
1206     5.305607
1207     3.927809
1208     1.950967
1209     4.053556
1210     2.788875
1211     4.031394
1212     9.778612
1213    17.278818
1214    20.795530
1215     4.981181
1216     7.927294
1217     6.321830
1218     4.611822
1219    12.405780
1220     6.066199
1221     8.121983
1222    18.955784
1223     4.137851
1224     5.775873
1225     2.062915
1226     4.251806
1227     7.247758
1228     3.751963
1229     4.195925
1230     6.688260
1231     3.459802
1232     5.288911
1233    21.170216
Name: Price, Length: 1234, dtype: float32